@import "./tailwind.scss";
@import "./iconfont/index.css";

html,
body,
#app {
  height: 100%;
}

.el-main {
  min-height: calc(100vh - 60px);
  background-color: var(--el-color-info-light-9);

  &.hasTags {
    min-height: calc(100vh - 100px);
  }
}

.app-container {
  box-shadow: var(--el-box-shadow-light);
  --el-card-border-color: var(--el-border-color-light);
  --el-card-border-radius: 4px;
  --el-card-padding: 20px;
  --el-card-bg-color: var(--el-fill-color-blank);
  border-radius: var(--el-card-border-radius);
  border: 1px solid var(--el-card-border-color);
  background-color: var(--el-card-bg-color);
  overflow: hidden;
  color: var(--el-text-color-primary);
  transition: var(--el-transition-duration);
  padding: var(--el-card-padding);
  min-height: 100%;
}

/* 美化滚动条 */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--el-scrollbar-bg-color, var(--el-text-color-secondary));
  transition: var(--el-transition-duration) background-color;
  opacity: var(--el-scrollbar-opacity, .3);
}

/* 隐藏body滚动条 纵向允许滚动 */
body::-webkit-scrollbar {
  display: none;
}