@font-face {
  font-family: "iconfont"; /* Project id 3486538 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1656311215401') format('woff2'),
       url('iconfont.woff?t=1656311215401') format('woff'),
       url('iconfont.ttf?t=1656311215401') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 26px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-apps_custom_bug4_btn:before {
  content: "\e614";
  cursor: pointer;
}

